*{
    box-sizing: border-box;
    transition-delay:0;
    transition-duration:0.5s;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.profile{
    width:30vh;
    height:30vh;
    min-width:100px;
    min-height:100px;
    margin-top:15vh;
    border-radius: 400px;
}
h1{
    font-size: 4vh;
    margin-bottom: 0;
}
h2{
    font-size: 3vh;
    margin-top: 0;
}